.cta{
    width: 50%;
}

.line{
    /* margin: 20px 0; */
    margin-bottom: 50px;
    height: 3px;
    width: 100%;
    background-color: honeydew;
}

.cta > h2{
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.social >*{
    color:white;
    font-size: large;
    margin: 10px 0;
    margin-right: 15px;
}

.social{
    display: flex;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.buttons >*{
    padding: 20px 0;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 16px;
}

.email{
    background-color: black;
    border: gray 1px solid;
    color: gray;
    transition: all .3s ease-in-out;
}

.email:hover{
    cursor: pointer;
    border: white 1px solid;
    color: white;
    transform: all;
}

.Subscribe{
    background-color: white;
    border: none;
    color: black;
    transition: all .3s ease-in-out;
}

.Subscribe:hover{
    transform: all;
    cursor: pointer;
    /* border: white 1.5px solid; */
    color: white;
    background-color: gray;
}
