.ds__arrow{
    --width: max-content;
    padding: 10px 0;
    width: max-content;
    position: relative;
    overflow: hidden;
}
.ds__arrow::after{
    content: '';
    position: absolute;
    height: 2px;
    /* width: var(--width); */
    background-color: bisque;
    bottom: 0;
    left: 0%;
    transform: translateX(-100%);
    transition: all .5s ease-in;
    opacity: 0;
    
}

.ds__arrow:hover{
    
    cursor: pointer;
    
}


.ds__arrow:hover.ds__arrow::after{
    opacity: 1;
    width: 100%;
    transform: translateX(0);
    background-color: bisque;
}

.ds__arrow>h5{
    font-weight: 400;
    font-size: 20px;
}

.ds__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ds__arrow >.arrow__right{
    margin-left: 15px;
}
