.links ul{
    list-style: none;
    display: none;
    flex-direction: row;
}

.nav__link{
    margin: 0 10px;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
}

.nav__link::after{
    content: '';
    position: absolute;
    height: 2px;
    /* width: var(--width); */
    background-color: bisque;
    bottom: 0;
    left: 0%;
    transform: translateX(-100%);
    transition: all .5s ease-in;
    opacity: 0;
}

.nav__link:hover.nav__link::after{
    opacity: 1;
    width: 100%;
    transform: translateX(0);
    background-color: bisque;
}

.links ul li:hover{
   cursor: pointer;
}

@media screen and (min-width: 800px) {
    .links ul{
        /* list-style: none; */
        display: flex;
        /* flex-direction: row; */
    }
  }