
.body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}


.card{
  border-radius: 10px;
  border:none;
  background-color: rgba(240, 248, 255, 0.575);
  /* height: 200px; */
  width: 200px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.521);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.btn{
  background-color: burlywood;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 30px;
  /* display: inline-block; */
}

.btn:hover{
  cursor: pointer;
  background-color: rgba(222, 184, 135, 0.651);
}