
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  background-color: rgb(255,255,255);
}

nav{
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  nav{
    padding: 50px 50px;
  }
}


.carts{
  display: flex;
}

.carts > *{
  margin: 0 5px
}

.cart__value{
  width: 22px;
  height: 22px;
  background-color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
}

.cart__value > span{
  
  color: white;
}

.hamburger{
  /* background-color: brown; */
  align-self: center;
  margin-left: 15px;
  width: 22px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  .hamburger{
    display: none;
  }
}

.hamburger:hover{
  cursor: pointer;
}

.hamburger>*{
  height: 3px;
  width: 100%;
  background-color: black;
}

.feat{
  margin: 70px 0;
}